<!-- /////////////////////////////////////////////////////// HEAD  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<%- include('./partials/head.ejs') %>
    <!-- /////////////////////////////////////////////////////// BODY  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

    <body class="bg-secondary bg-gradient">
        <div class="bodyContainer">
            <!-- /////////////////////////////////////////////////////// NAV BAR  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
            <%- include('./partials/nav.ejs') %>
                <!-- /////////////////////////////////////////////////////// CONTROL TABS  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                <%- include('./partials/McontrolTabs.ejs') %>
                    <!-- /////////////////////////////////////////////////////// CONTROL PANELS  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                    <div class="tab-content" id="pills-tabContent">
                        <!-- /////////////////////////////////////////////////////// TAB 1 LED \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                        <%- include('./tabs/led.ejs') %>
                            <!-- /////////////////////////////////////////////////////// TAB 2 ARM  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                            <%- include('./tabs/arm.ejs') %>
                                <!-- /////////////////////////////////////////////////////// TAB 3 IRG  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                                <%- include('./tabs/irg.ejs') %>
                                    <!-- /////////////////////////////////////////////////////// TAB 4 AIR  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                                    <%- include('./tabs/air.ejs') %>
                                        <!-- /////////////////////////////////////////////////////// TAB 5 SCHEDULE  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                                        <%- include('./tabs/schedule.ejs') %>
                    </div>
        </div>
        <!-- ============================ Scripts ============================  -->
        <script src="/scripts/socketScripts.js"></script>
        <!-- BootStrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>

    </html>